<div class="container w-50 border-3 border p-3">
<form>
  <div class="mb-3">
    <label for="titleinput">
    Title
      <input id="titleinput" type="text" class="form-control">
    </label>
  </div>

  <div class="mb-3">
    <label for="content">
    Content
      <textarea id="content" type="text" class="form-control" style="width: 600px" rows="8"></textarea>
    </label>
  </div>
  <div class="position-relative" style="padding-top: 50px">
    <button type="submit" class="btn btn-primary position-absolute bottom-0 end-0 m-3">Add Post</button>
  </div>
  </form>
</div>
